<html>
  <head>
    <title>New Category</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <form action="/new-category" method="post">
      <label>
        Category Name
        <input type="text" name="categoryName" />
      </label>
      <button type="submit">Create</button>
    </form>
  </body>
</html>
